li {
  list-style-type: none;
}
input {
  font-family: inherit;
  color: grey;
}

.dashboard-layout {
  display: inline-block;
}

.chart-layout {
  display: flex;
}

.chart-cards {
  background-color: white;
  margin: 32px;
  border-color: grey;
}
/* /* .mood-distribution footer {
  display: flex;
  gap: var(--spacer-s);
} */
