.dashboard-layout,
.chart-layout,
.chart-column-1 {
  display: grid;
  gap: var(--spacer-l);
}
.chart-layout {
  grid-template-columns: 2fr 3fr;
}

.chart-cards {
  border: var(--border-large) var(--color-text) solid;
  border-radius: var(--spacer-m);
  background-color: var(--color-white);
  padding: var(--spacer-l);
}

.chart-cards input {
  max-width: 120px;
}
