section.mood-list .mood-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--spacer-m);
}

section.mood-list.mood-list__day-wrapper {
  overflow: hidden;
}
section.mood-list .mood-list__day-date,
section.mood-list .mood-list__day-entries {
  border: var(--border-large) var(--color-text) solid;
  border-radius: var(--spacer-m);
  overflow: hidden;
}

section.mood-list .mood-list__day-date {
  width: fit-content;
  padding: var(--spacer-s) var(--spacer-m);
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--color-white);
}

section.mood-list .mood-list__day-entries {
  border-top-left-radius: 0;
}

.hero-journal {
  display: flex;
  flex-direction: column;
  border-radius: var(--spacer-m);
  transition: transform var(--animation-timing-slow) ease,
    box-shadow var(--animation-timing-slow) ease;
}

.hero-journal:hover {
  transform: scale(1.025);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
}
