.keyMetrics {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.keyMetrics h1 {
  padding-top: 0;
}

.keyMetrics > div {
  display: flex;
  flex-direction: column;
}

.keyMetrics img {
  width: calc(var(--text-size-xl) * 2);
}
