.btnSubmit {
  font: inherit;
  background-color: var(--color-background);
  font-weight: 200;
  display: inline-block;
  width: fit-content;
  border: var(--border-small) transparent solid;
  outline: none;
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: var(--spacer-m);
  transition: transform var(--animation-timing-fast) ease;
}

.btnSubmit:hover {
  transform: translate(0, -5%);
}
