.pill-small {
  background-color: var(--color-white);
  display: inline-block;
  width: fit-content;
  border: var(--border-small) var(--color-text) solid;
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: var(--spacer-m);
}
.pill-small.nofill {
  background-color: inherit;
}

.pill-small input {
  display: none;
}

.pill-checkbox:hover,
.pill-radio:hover {
  cursor: pointer;
}

.pill-small.inactive {
  opacity: var(--opacity);
}
