.nav {
  position: sticky;
  top: 0px;
  background-color: var(--color-white);
  padding: var(--spacer-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-large) var(--color-text) solid;
  z-index: 5;
}

.nav > div {
  display: flex;
  align-items: center;
  gap: var(--spacer-m);
}

.nav a:hover {
  cursor: pointer;
}

.nav__links > a {
  border: var(--border-small) transparent solid;
  transition: border var(--animation-timing-slow) ease;
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: 100vh;
}

.active {
  border-color: var(--color-text) !important;
}
