.moments > h5 {
  padding-bottom: var(--spacer-m);
  font-size: var(--text-size-m);
}

.momentsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacer-m);
}

.moment {
  background-color: var(--color-white);
  border-radius: var(--spacer-m);
  padding: var(--spacer-s);
  transition: transform var(--animation-timing-slow) ease,
    box-shadow var(--animation-timing-slow) ease;
}

.moment:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.15) 0px 12px 25px -5px,
    rgba(0, 0, 0, 0.15) 0px 7.5px 15px -7.5px;
}
