.App {
  overflow-x: clip;
  width: 100%;
  min-height: 100%;
}

.smiley-image {
  width: calc(var(--text-size-m) * 3);
}

/* ############# TYPOGRAPHY ############# */

h1,
h2,
h3,
h4,
b,
strong {
  font-family: "Sporting Grotesque_Bold", Helvetica, sans-serif;
  line-height: 1.25;
}

h1 {
  font-size: var(--text-size-xl);
  padding: 0.25em 0;
}

h2 {
  font-size: var(--text-size-s);
}

h3 {
  font-size: var(--text-size-m);
  display: inline-block;
}

h4 {
}

.App {
  font-size: var(--text-size-s);
}

.text-size-medium {
  font-size: 2rem;
}

.submits {
  font: inherit;
  background-color: var(--color-gray);
  font-weight: 200;
  display: inline-block;
  border: var(--border-small) transparent solid;
  width: fit-content;
  outline: none;
  padding: var(--spacer-xs) var(--spacer-s);
  border-radius: var(--spacer-m);
  transition: transform var(--animation-timing-fast) ease;
}

.submits:hover {
  transform: translate(0, -5%);
  cursor: pointer;
}
.delete {
  background-color: var(--color-awful) !important;
}
