.smiley-image {
  width: 6vw;
}

/* ############# TYPOGRAPHY ############# */

h1 {
  font-size: var(--text-size-xl);
}

h2 {
  font-size: var(--text-size-s);
}

h3 {
  font-size: var(--text-size-m);
}

h4 {
}
