/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

:root {
  --spacer-s: 0.5rem;
  --spacer-m: 1rem;
  --spacer-l: 2rem;
  --text-size-xs: 0.625rem;
  --text-size-s: 1rem;
  --text-size-m: 2rem;
  --text-size-l: 3rem;
  --text-size-xl: 6rem;
}

body {
  --color-awful: #000000;
  --color-bad: #000000;
  --color-okay: #000000;
  --color-good: #000000;
  --color-great: #000000;
}
