/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

:root {
  --spacer-s: 0.5rem;
  --spacer-m: 1rem;
  --spacer-l: 2rem;
}
