section.mood-check-in form {
  padding: var(--spacer-m);
  background-color: var(--color-neutral);
  transition: background-color var(--animation-timing-slow) ease;
}
section.mood-check-in .mood-check-in__wrapper h2,
section.mood-check-in .mood-check-in__wrapper form {
  border: var(--border-large) var(--color-text) solid;
  border-radius: var(--spacer-m);
  overflow: hidden;
}

section.mood-check-in .mood-check-in__wrapper h2 {
  width: fit-content;
  padding: var(--spacer-s) var(--spacer-m);
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--color-white);
}

section.mood-check-in .mood-check-in__wrapper form {
  border-top-left-radius: 0;
}

.mood-check-in__form-status:hover {
  cursor: pointer;
}

.mood-check-in__form-status-wrapper {
  display: flex;
  gap: var(--spacer-m);
  justify-content: space-between;
}

.mood-check-in__form-status-wrapper input {
  display: none;
}

.mood-check-in__form-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity var(--animation-timing-slow) ease;
}

.mood-check-in__form-status.inactive {
  opacity: var(--opacity);
}

.mood-check-in__form-activities {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-s);
}

section.mood-check-in form textarea {
  width: 100%;
  border-radius: var(--spacer-s);
  outline: none;
  border: var(--border-medium) var(--color-text) solid;

  resize: none;
}
